* text=auto
*.abi text eol=lf
*.c text
*.h text
*.sh text eol=lf
crc32_braid_tbl.h hooks-max-size=1000000
Makefile text
configure text eol=lf

# Don't export git/github-related files in tar/zip archives
/.github export-ignore  
.gitattributes export-ignore  
.gitignore export-ignore
