name: Configure
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  configure:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu GCC
            os: ubuntu-latest
            compiler: gcc
            configure-args: --warn

          - name: Ubuntu 20.04 GCC
            os: ubuntu-20.04
            compiler: gcc
            configure-args: --warn

          - name: Ubuntu GCC OSB
            os: ubuntu-latest
            compiler: gcc
            configure-args: --warn
            build-dir: ../build
            build-src-dir: ../zlib-ng

          - name: Ubuntu GCC Compat No Opt
            os: ubuntu-latest
            compiler: gcc
            configure-args: --warn --zlib-compat --without-optimizations --without-new-strategies

          - name: Ubuntu GCC ARM SF
            os: ubuntu-latest
            compiler: arm-linux-gnueabi-gcc
            configure-args: --warn
            chost: arm-linux-gnueabi
            packages: qemu qemu-user gcc-arm-linux-gnueabi libc-dev-armel-cross

          - name: Ubuntu GCC ARM SF Compat No Opt
            os: ubuntu-latest
            compiler: arm-linux-gnueabi-gcc
            configure-args: --warn --zlib-compat --without-optimizations --without-new-strategies
            chost: arm-linux-gnueabi
            packages: qemu qemu-user gcc-arm-linux-gnueabi libc-dev-armel-cross

          - name: Ubuntu GCC ARM HF
            os: ubuntu-latest
            compiler: arm-linux-gnueabihf-gcc
            configure-args: --warn
            chost: arm-linux-gnueabihf
            packages: qemu qemu-user gcc-arm-linux-gnueabihf libc-dev-armel-cross

          - name: Ubuntu GCC ARM HF No ACLE
            os: ubuntu-latest
            compiler: arm-linux-gnueabihf-gcc
            configure-args: --warn --without-acle
            chost: arm-linux-gnueabihf
            packages: qemu qemu-user gcc-arm-linux-gnueabihf libc-dev-armel-cross

          - name: Ubuntu GCC ARM HF No NEON
            os: ubuntu-latest
            compiler: arm-linux-gnueabihf-gcc
            configure-args: --warn --without-neon
            chost: arm-linux-gnueabihf
            packages: qemu qemu-user gcc-arm-linux-gnueabihf libc-dev-armel-cross

          - name: Ubuntu GCC ARM HF Compat No Opt
            os: ubuntu-latest
            compiler: arm-linux-gnueabihf-gcc
            configure-args: --warn --zlib-compat --without-optimizations --without-new-strategies
            chost: arm-linux-gnueabihf
            packages: qemu qemu-user gcc-arm-linux-gnueabihf libc-dev-armel-cross

          - name: Ubuntu GCC AARCH64
            os: ubuntu-latest
            compiler: aarch64-linux-gnu-gcc
            configure-args: --warn
            chost: aarch64-linux-gnu
            packages: qemu qemu-user gcc-aarch64-linux-gnu libc-dev-arm64-cross

          - name: Ubuntu GCC AARCH64 No ACLE
            os: ubuntu-latest
            compiler: aarch64-linux-gnu-gcc
            configure-args: --warn --without-acle
            chost: aarch64-linux-gnu
            packages: qemu qemu-user gcc-aarch64-linux-gnu libc-dev-arm64-cross

          - name: Ubuntu GCC AARCH64 No NEON
            os: ubuntu-latest
            compiler: aarch64-linux-gnu-gcc
            configure-args: --warn --without-neon
            chost: aarch64-linux-gnu
            packages: qemu qemu-user gcc-aarch64-linux-gnu libc-dev-arm64-cross

          - name: Ubuntu GCC AARCH64 Compat No Opt
            os: ubuntu-latest
            compiler: aarch64-linux-gnu-gcc
            configure-args: --warn --zlib-compat --without-optimizations --without-new-strategies
            chost: aarch64-linux-gnu
            packages: qemu qemu-user gcc-aarch64-linux-gnu libc-dev-arm64-cross

          - name: Ubuntu GCC MIPS
            os: ubuntu-latest
            compiler: mips-linux-gnu-gcc
            configure-args: --warn
            chost: mips-linux-gnu
            packages: qemu qemu-user gcc-mips-linux-gnu libc-dev-mips-cross

          - name: Ubuntu GCC MIPS64
            os: ubuntu-latest
            compiler: mips64-linux-gnuabi64-gcc
            configure-args: --warn
            chost: mips64-linux-gnuabi64
            packages: qemu qemu-user gcc-mips64-linux-gnuabi64 libc-dev-mips64-cross

          - name: Ubuntu GCC PPC
            os: ubuntu-latest
            compiler: powerpc-linux-gnu-gcc
            configure-args: --warn --static
            chost: powerpc-linux-gnu
            packages: qemu qemu-user gcc-powerpc-linux-gnu libc-dev-powerpc-cross
            cflags: -static
            ldflags: -static

          - name: Ubuntu GCC PPC No Power8
            os: ubuntu-latest
            compiler: powerpc-linux-gnu-gcc
            configure-args: --warn --without-power8
            chost: powerpc-linux-gnu
            packages: qemu qemu-user gcc-powerpc-linux-gnu libc-dev-powerpc-cross

          - name: Ubuntu GCC PPC64
            os: ubuntu-latest
            compiler: powerpc64-linux-gnu-gcc
            configure-args: --warn --static
            chost: powerpc-linux-gnu
            packages: qemu qemu-user gcc-powerpc64-linux-gnu libc-dev-ppc64-cross
            cflags: -static
            ldflags: -static

          - name: Ubuntu GCC PPC64LE
            os: ubuntu-latest
            compiler: powerpc64le-linux-gnu-gcc
            configure-args: --warn
            chost: powerpc64le-linux-gnu
            packages: qemu qemu-user gcc-powerpc64le-linux-gnu libc-dev-ppc64el-cross

          - name: Ubuntu GCC S390X
            os: ubuntu-latest
            compiler: s390x-linux-gnu-gcc
            configure-args: --warn --static
            chost: s390x-linux-gnu
            packages: qemu qemu-user gcc-s390x-linux-gnu libc-dev-s390x-cross
            cflags: -static
            ldflags: -static

          - name: Ubuntu GCC S390X No vectorized CRC32
            os: ubuntu-latest
            compiler: s390x-linux-gnu-gcc
            configure-args: --warn --static --without-crc32-vx
            chost: s390x-linux-gnu
            packages: qemu qemu-user gcc-s390x-linux-gnu libc-dev-s390x-cross
            cflags: -static
            ldflags: -static

          - name: ${{ github.repository == 'zlib-ng/zlib-ng' && 'EL9' || 'Ubuntu' }} GCC S390X DFLTCC
            os: ${{ github.repository == 'zlib-ng/zlib-ng' && 'z15' || 'ubuntu-latest' }}
            compiler: ${{ github.repository == 'zlib-ng/zlib-ng' && 'gcc' || 's390x-linux-gnu-gcc' }}
            configure-args: --warn --static --with-dfltcc-deflate --with-dfltcc-inflate
            chost: ${{ github.repository != 'zlib-ng/zlib-ng' &&  's390x-linux-gnu' || '' }}
            packages: ${{ github.repository != 'zlib-ng/zlib-ng' && 'qemu qemu-user gcc-s390x-linux-gnu g++-s390x-linux-gnu libc-dev-s390x-cross' || '' }}
            cflags: ${{ github.repository != 'zlib-ng/zlib-ng' && '-static' || '' }}
            ldflags: ${{ github.repository != 'zlib-ng/zlib-ng' && '-static' || '' }}

          - name: ${{ github.repository == 'zlib-ng/zlib-ng' && 'EL9' || 'Ubuntu' }} GCC S390X DFLTCC Compat
            os: ${{ github.repository == 'zlib-ng/zlib-ng' && 'z15' || 'ubuntu-latest' }}
            compiler: ${{ github.repository == 'zlib-ng/zlib-ng' && 'gcc' || 's390x-linux-gnu-gcc' }}
            configure-args: --warn --zlib-compat --static --with-dfltcc-deflate --with-dfltcc-inflate
            chost: ${{ github.repository != 'zlib-ng/zlib-ng' &&  's390x-linux-gnu' || '' }}
            packages: ${{ github.repository != 'zlib-ng/zlib-ng' && 'qemu qemu-user gcc-s390x-linux-gnu g++-s390x-linux-gnu libc-dev-s390x-cross' || '' }}
            cflags: ${{ github.repository != 'zlib-ng/zlib-ng' && '-static' || '' }}
            ldflags: ${{ github.repository != 'zlib-ng/zlib-ng' && '-static' || '' }}

          - name: Ubuntu Emscripten WASM32
            os: ubuntu-latest
            chost: wasm32
            configure-args: --warn --zlib-compat --static
            configure-prefix: emconfigure
            cflags: -static
            ldflags: -static
            emu-run: node

          - name: macOS GCC Symbol Prefix
            os: macos-13
            compiler: gcc-11
            configure-args: --sprefix=zTest_
            packages: gcc@11

          - name: macOS GCC Symbol Prefix (ARM64)
            os: macos-latest
            compiler: gcc-11
            cflags: -std=gnu11
            configure-args: --sprefix=zTest_
            packages: gcc@11

          - name: macOS GCC Symbol Prefix & Compat
            os: macos-13
            compiler: gcc-11
            configure-args: --zlib-compat --sprefix=zTest_
            packages: gcc@11

          - name: macOS GCC Symbol Prefix & Compat (ARM64)
            os: macos-latest
            compiler: gcc-11
            cflags: -std=gnu11
            configure-args: --zlib-compat --sprefix=zTest_
            packages: gcc@11

          - name: macOS GCC
            os: macos-13
            compiler: gcc-11
            configure-args: --warn
            packages: gcc@11

          - name: macOS GCC (ARM64)
            os: macos-latest
            compiler: gcc-11
            cflags: -std=gnu11
            configure-args: --warn
            packages: gcc@11

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        show-progress: 'false'

    - name: Add ubuntu mirrors
      if: runner.os == 'Linux' && matrix.packages
      # Github Actions caching proxy is at times unreliable
      run: |
        echo -e 'http://azure.archive.ubuntu.com/ubuntu\tpriority:1\n' | sudo tee /etc/apt/mirrors.txt
        curl http://mirrors.ubuntu.com/mirrors.txt | sudo tee --append /etc/apt/mirrors.txt
        sudo sed -i 's#http://azure.archive.ubuntu.com/ubuntu/#mirror+file:/etc/apt/mirrors.txt#' /etc/apt/sources.list

    - name: Install packages (Ubuntu)
      if: runner.os == 'Linux' && matrix.packages
      run: |
        sudo apt-get update
        sudo apt-get install -y ${{ matrix.packages }}

    - name: Install packages (macOS)
      if: runner.os == 'macOS'
      run: brew install ninja ${{ matrix.packages }}
      env:
        HOMEBREW_NO_INSTALL_CLEANUP: 1

    - name: Install Emscripten
      if: contains(matrix.name, 'WASM32')
      uses: mymindstorm/setup-emsdk@v14

    - name: Generate project files
      run: |
        mkdir ${{ matrix.build-dir || '.not-used' }}
        cd ${{ matrix.build-dir || '.' }}
        ${{ matrix.configure-prefix }} ${{ matrix.build-src-dir || '.' }}/configure ${{ matrix.configure-args }}
      env:
        CC: ${{ matrix.compiler }}
        CFLAGS: ${{ matrix.cflags }}
        LDFLAGS: ${{ matrix.ldflags }}
        CHOST: ${{ matrix.chost }}
        EMU_RUN: ${{ matrix.emu-run }}
        CI: true

    - name: Compile source code
      run: make -j2
      working-directory: ${{ matrix.build-dir }}

    - name: Run test cases
      run: make test
      working-directory: ${{ matrix.build-dir }}

    - name: Upload build errors
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ matrix.name }} (configure)
        path: |
          **/Makefile
          ${{ matrix.build-dir || '.' }}/configure.log
        retention-days: 30
